<!DOCTYPE html>
<html>
    <head>
        <title>King Isaac of the Snow</title>
    </head> 

    <body>
        <div id="root">
            <h1> {{ message }} </h1>
            <h1> {{ reversedMessage }}</h1>
            <h2>All Tasks</h2>
            <ul>
                <li v-for="task in tasks" v-text="task.description"></li>
            </ul>
            <h2>Incomplete Tasks</h2>
            <ul>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>
            <h2>Completed Tasks</h2>
            <ul>
                <li v-for="task in completedTasks" v-text="task.description"></li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#root',
                data: {
                    message: 'Hello World',
                    tasks: [
                        { description: 'Pet Samson', completed: false },
                        { description: 'Eat peanut butter', completed: false },
                        { description: 'Take a shower', completed: true },
                        { description: 'Go for a run', completed: false },
                        { description: 'Get groceries', completed: true },
                        { description: 'Left foot right stomp', completed: false }
                    ]
                },
                computed: {
                    reversedMessage() {
                        return this.message.split('').reverse().join('');
                    },
                    incompleteTasks() {
                        return this.tasks.filter(task => ! task.completed);
                    },
                    completedTasks() {
                        return this.tasks.filter(task => task.completed);
                    }
                },
            })

        </script>
    </body>
</html>


